<h1>Editing Meeting</h1>
<% provide(:title, "Edit Meeting") %>

<%= render 'form', booking: @booking %>

<%= link_to 'Show',user_booking_path(@booking.user_id,@booking.id) %> |
<%= link_to 'Back', user_bookings_path %>
